<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Nossa Nova Coleção</h1>
    <p class="lead text-muted">Conheça as Novas Coleções</p>
    <p>
      <button (click)="esconderImagem()" type="button" class="btn btn-dark">Verão</button>
      <button (click)="mostrarImagem()" type="button" class="btn btn-dark">Outono</button>
    </p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row" *ngIf="mostrarimagem; else verao">
      <div class="col-md-4" *ngFor="let imagem of imagens">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="../../assets/flores.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text"></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #verao>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4" *ngFor="let imagem of imagens">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="../../assets/verao.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text"></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>



  

